html{
    font-size: 10px;
  }
  
  body {
    
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  #main {
    margin: 25px 8px;
    padding: 8px;
    border-radius: 3px;
    background: #eee;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: 70vh;
    width: 95vw;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    padding: 0px;
    margin: 0;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 5px auto;
    text-align: left;
    line-height: 0.8s;
  }
  
  li {
    margin: 8px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  